export OS_AUTH_URL='OPENSTACK_AUTH_URL'

export OS_TENANT_ID='OPENSTACK_PROJECT_ID'

export OS_USERNAME='USERNAME'
export OS_PASSWORD='PASSWORD'

export OS_REGION_NAME="RegionOne"
export OS_VOLUME_API_VERSION=1
export OS_IMAGE_API_VERSION=1
