{
   "packer_winrm_username": "admin",
   "packer_winrm_password": "CHANGEME",
   "packer_output_directory": "/kvm-data/win2k12r2",
   "packer_disk_size": "61440",
   "packer_iso_checksum": "0e7c09aab20dec3cd7eab236dab90e78",
   "packer_iso_url": "/kvm-data/iso/en_windows_server_2012_r2_x64_dvd_2707946.iso"
}