## kickstart for centos7.1 1 disk LVM server
## jbarnett@tableausoftware.com @ `04/28/2016 10:43`
# Install options
install
eula --agreed
text
cdrom
lang en_US.UTF-8
keyboard us
network --onboot=yes --device=em1 --mtu=1500 --noipv6 --bootproto=dhcp
rootpw --iscrypted $1$fxk/CP04$AXhdn0bZAqCaibnHwi0dy1
firewall --disabled --service=ssh
selinux --disabled
authconfig --enableshadow --enablemd5
timezone --utc America/Los_Angeles
skipx
reboot
services --disabled atd,autofs,avahi-daemon,bluetooth,cups,fcoe,haldaemon,ip6tables,iptables,iscsi,iscsid,jexec,livesys-late,lldapd,messagebus,netfs,nfslock,openct,pcscd,rpcbind,rpcidmapd
services --enabled=NetworkManager,sshd

bootloader --location=mbr --driveorder=sda --append="crashkernel=auto quiet selinux=0 net.ifnames=0 biosdevname=0"
clearpart --initlabel --drives=sda --all
zerombr

part /boot --fstype=xfs --size=250 --ondisk=sda
part pv.01 --fstype=lvmpv --asprimary --grow --size=1 --ondisk=sda

volgroup vg00 --pesize=4096 pv.01
logvol swap --fstype=swap --name=lv_swap --vgname=vg00 --grow --size=2048 --maxsize=2048
logvol / --fstype=xfs --name=lv_root --vgname=vg00 --grow --size=1

%packages
@core
%end

%post
%end
